/* General Styles */
html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Playfair Display', serif;
  font-size: 16px;
}

p{
  color: #222222;
}

h1, h2, h3. h4, h5, h6{
  font-family: 'Lato', sans-serif;
}

h1{
  font-size: 3em;
  font-weight: bolder;
}

h2{
  font-size: 2.5em;
  font-weight: bold;
  padding: 0.5em 0;
}

h3{
  font-size: 2em;
  padding: 0.5em 0;
}

h4{
  font-size: 1.5em;
}

a{
  text-decoration: none;
}

ul{

}

ol{

}

/* Buttons */
.cta{
  display: block;
  color: white;
  background-color: lightskyblue;
  padding: 0.75em 2em;
  margin: 2em auto 1em;
  transition: background-color 1s, color 1s;
  max-width: 175px;
  text-align: center;
  border-radius: 5px;
}

.cta:hover{
  color: white;
  background-color: blue;
}

.project-cta{
  display: block;
  background-color: lightskyblue;
  color: white;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  max-width: 100px;
  transition: background-color 1s, color 1s;
}

.project-cta:hover{
  color: white;
  background-color: blue;
}

/* Sections */
.content-section{
  padding: 2em 4em;
}

/* Hero Section */
#main{
  padding: 0;
}

#hero-section{

}

#hero{
  position: relative;
}

#hero-overlay{
  position: absolute;
  margin: auto 0;
  padding: 10%;
  z-index: 2;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
}

#hero-overlay p{
  color: white;
  font-size: 1.5em;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #FFA500; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: lightskyblue }
}

.overlay{
  background-color: rgba(0,0,0, 0.5);
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
}

#hero-img{
  z-index: 0;
  max-height: 800px;
  overflow-y: hidden;
  width: fit-content;
}

/* Navigation */

/* Sticky Nav */
#sticky-nav{
  display: none;
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
  background-color: lightskyblue;
}

#sticky{
  padding: 1.5em 1em 0.5em;
  text-align: right;
}

#sticky li{
  display: inline;
  margin-left: 1em;
}

#sticky li a{
  color:white;
}

#sticky li a:hover, #sticky li a:active{
  font-weight: 600;
}

#sticky li a.sticky-cta{
  background-color: white;
  padding: 0.5em 2.5em;
  color: blue;
  text-transform: capitalize;
  transition: text-transform 1s ease-in 1s;
}

#sticky li a.sticky-cta:hover{
  text-transform: uppercase;
}

/* Mobile Nav */
#mobile-nav{
  position: relative;
}

#mobile-header{
  padding: 0.75em 1em 0.5em;
}

#mobile{
  background-color: lightskyblue;
  position: fixed;
  display: none;
  text-align: center;
  padding: 1em;
  margin: 0;
  z-index: 5;
  width: 100%;
}

#mobile li{
  display: block;
  width: 100%;
  margin: 1em 0;
  text-transform: uppercase;
}

#mobile li a{
  color: white;
}

#mobile li a:hover{
  color: blue;
}

#mobile li:active, #mobile li:hover{
  color: blue;
  background-color: white;
}

/* Sections */
.section-title{
  text-align: center;
}

/* About section */
#headshot{
  margin-bottom: 1em;
}

/* Skills Section */
#skills{
  background-color: lightskyblue;
  color: white;
}


/*///////////////////////////////////////////////////
    // Skill Bars \\
///////////////////////////////////////////////////*/
#skillBarsContainer{
  padding:20px;
  max-width:425px;
  min-width:150px;
  margin:0 auto;
  border-radius:5px;
  border:solid 5px #FFA500;
}

.skillBar {
  margin-bottom:26px;
  margin-bottom: 1.66em;
}
.skillBarContainer {
  width: 100%;
  max-width: 350px;
  height:26px;
  height: 1.66em;
  background: #ffffff;
  background: rgb(255,255,255);
  background: rgba(255,255,255,.4);
  overflow: hidden;
  border-radius:5px;
}
.skillBarValue {
  height: 1.66em;
  float: left;
  background: #ffa500;
  background: rgb(255,165,0);
}

/* Allowed values for the css skill bars */
.value-00  { width: 0;    }
.value-10  { width: 10%;  }
.value-20  { width: 20%;  }
.value-30  { width: 30%;  }
.value-40  { width: 40%;  }
.value-50  { width: 50%;  }
.value-60  { width: 60%;  }
.value-70  { width: 70%;  }
.value-80  { width: 80%;  }
.value-90  { width: 90%;  }
.value-100 { width: 100%; }

/*///////////////////////////////////////////////////
    // Animation \\
///////////////////////////////////////////////////*/
@-webkit-keyframes slideIn {
  0% { width: 0; }
  50% { width:100%; }
  100% { width: normal; }
}
@-moz-keyframes slideIn {
  0% { width: 0; }
  50% { width:100%; }
  100% { width: normal; }
}
@-ms-keyframes slideIn {
  0% { width: 0; }
  50% { width:100%; }
  100% { width: normal; }
}
@-o-keyframes slideIn {
  0% { width: 0; }
  50% { width:100%; }
  100% { width: normal; }
}
@keyframes slideIn {
  0% { width: 0; }
  50% { width:100%; }
  100% { width: normal; }
}
.skillBarValue {
  -webkit-animation: slideIn 3s;
  -moz-animation: slideIn 3s;
  -o-animation: slideIn 3s;
  animation: slideIn 3s;
}

/* Projects Section */
.project-full{
  display: none;
}

.carousel-item img{
  max-height: 500px;
}

/* Contact Form */
#contact{
  background-color: lightskyblue;
}

#contact-form{
  background-color: white;
  padding: 1em 2em;
  border-radius: 5px;
}

#contact-form h2{
  text-align: center;
}

#contact-form input, #contact-form textarea{
  margin: 1em 0;
  display: block;
  width: 100%;
}


/*Footer */
#main-footer{
  background-color: lightgrey;
  color: orange;
  padding: 2em 0 1em;
}

#main-footer h4{
  text-align: center;
}

#main-footer ul{
  text-align: center;
}

#main-footer li{
  font-size: 1.5em;
}

#main-footer li a{
  color: #FFA500;
}

#main-footer li a:hover{
  color: #cc5500;
}

/* Responsive Styling */
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  #skillBarsContainer{
    max-width: 500px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #hero-overlay{
    padding: 20% 10%;
  }

  #headshot{
    margin-bottom: 0;
  }

  #skillBarsContainer{
    max-width: 700px;
    padding: 20px 3em;
  }

  .skillBarContainer{
    max-width: 650px;
  }

  #contact-form{
    width: 70%;
    margin: auto;
    padding: 2em 4em;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .content-section {
    padding: 4em;
  }

  #headshot{
    max-width: 400px;
    margin: auto;
    display: block;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #contact-form{
    width: 50%;
    padding: 4em;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... }
